#test{
    margin-top: 100px;
}



body{
    z-index: 1;
    font-family: 'Consolas'; 
    color: #000000;
    background-color: #fffdfb;
    margin: 0;
}

.button{
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.5s;
}

.button:hover{
    text-decoration-color: #83807b;
}

.button::after{
    color: rgb(0, 0, 0);
}

.contact_body{
    margin-top: 226.56px ;
    margin-bottom: 26.56px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_text{
    color: #83807b;
    text-align: right;
    font-size: 12pt;
    padding-right: 10px;
}

.container{
    width: 80%;
    margin-left: 8%;
}

@font-face {
    font-family: 'Consolas' ;
    src: url(../source/font/Consolas.ttf);
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#Lg{
    list-style-image:url('../source/img/language.svg');
}

.logo{
    width: 20px;
    padding: 5px;
    content: url(../source/img/Burger.png);
    border-radius: 10px;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    margin-top: 5px;
}

.gradient{
    z-index: 2;
    position: fixed;
    background-color: #fffdfb80;
    width: 100%;
    height: 60px;
    top: 0;
    
}

#name {
    text-decoration: none;
    color: #000000;
}

#name:hover{
    text-decoration: none;
    color: #000000;
}

#name::after{
    text-decoration: none;
    color: #000000;
}

.name_before{
    padding-left:15px ;
    font-size: 20pt;
    display: none;
}

.name_after{
    padding-bottom: 7px;
    padding-left:15px ;
    font-size: 20pt;
    display: inline;
    animation: fadeIn 0.5s;
}

.nav{
    overflow: hidden;
    padding: 10px;
    padding-right: 15px;
}

.nav .button{
    display: block;
    float: left;
    color: #000000;
    padding-left: 20px;
    padding-top: 2px;
    font-size: 12pt;
}

.nav .icon {
    position: fixed;
    display: none;
    top: 5px;
    right: 10px;
    padding: 5px;
    
}

.pdf_sponsor{
    height: 700px;
    width: 80%;
    padding-left: 8%;
    padding-top: 55px;
}

.pict_contact{
    border-radius: 15px;
    width: 35%; 
    margin-left: 10px;
}
 
.pict_presentation{
    border-radius: 15px;
    position: relative;
    width: 45%;
    margin-left: 27%;
    margin-bottom: 100px;
}

.pict_presentation_description{
    font-family: 'Consolas';
    color: #83807b;
    position: relative;
    width: 20%;
    padding-left: 10px;
}

.pict_propos_right{
    border-radius: 10px;
    width: 50%;
}

.presentation_body{
    display: flex;
    justify-content: flex-start;
}

.presentation_header{
    display: block;
    font-size: 34pt;
    padding-top: 55px;
    text-align: center;
}

.propos_date{
    font-size: 10pt;
    font-style: italic;
}

.propos_left{
    position:relative;
    width: 40%;
    padding-right: 10px;
}

.propos_right{
    position:relative;
    width: 60%;
    padding-left: 10px;
}

.propos_text{
    color: #83807b;
    text-align: left;
    font-size: 12pt;
}

.reseau{
    float: left;
    padding-left: 15px;
}

.reseau img{
    padding-left: 15px;
    width: 22px;
}

.sponsor_head {
    width: 80%;
    margin-left: 8%;
    background-image: url("../source/img/black(1).jpg");
}

.subtitle{
    font-size: 24pt;
    padding-left: 20px;
}

.subtitle_experience{
    font-size: 12pt;
    font-weight: bold;
}

.subtitle_propos{
    text-align: left;
    padding-left: 10px;
    font-size: 16pt;
    font-weight: bold;
}

.top_header{
    z-index: 3;
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    background-color:  #fffdfb;
    top: 0;
}

ul{
    list-style-type: none;
}



/*responsive parts*/


@media screen and (max-width: 715px) {
    .container{
        width: 90%;
        margin-left: 4%;
    }

    .name_after{
        padding: 17px;
        padding-left: 15px ;
    }

    .gradient{
        display: none;
    }

    .nav .button {
        display: none;
        color: #fffdfb;
    }

    .nav .button:hover {
        text-decoration-color:#fffdfb; 
    }

    .nav .icon {
        float: right;
        display: block;
        position: fixed;
        bottom: 5px;
        right: 5px;
    }

    .pdf_sponsor{
        width: 100%;
        padding-left: 0;
    }

    .pdf_sponsor .container{
        padding-left: 0px;
    }

    .presentation_header {
        font-size: 22pt;
        padding-left: 0;
        text-align: left;
    }

    .pict_presentation{
        margin: 0;
    }

    .pict_presentation_description{
        width: 40%;
    }

    .propos_right {
        border-left: solid;
        border-color: #83807b62;
    }

    .reseau {
        position: fixed;
        bottom: 5px;
        right: 10px;
    }
    .reseau a{
        float: none ;
        display: block;
        padding: 5px;
        border-radius: 10px;
        border-color: #000000;
        background-color: #fffdfbbf;
        border-style: solid;
        border-width: 2px;
        margin-top: 5px;
    }

    .reseau img{
        padding-left: 0;
    }

    .responsive {
        position: fixed;
        padding: 5px;
        padding-top: 40px;
        top: 10px;
        right: 5px;
        background-color: #9b958fb2;
        border-radius: 10px;
    }

    .responsive .button {
        float: none;
        display: block;
        text-align: center;
        padding: 5px;
        font-size: 18pt;
        margin-top: 5px;
    }

    .responsive .icon {
        position: fixed;
        top: 5px;
        right: 5px;
    }

    .responsive .logo{
        width: 20px;
        content: url(../source/img/Cross.png);
        border-color: #fffdfb;
        padding: 5px;
    }

}
